body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.indexBody{

}
.container {
    display: flex;
    height: 100vh;
    width: 100%;

    
}
.containerIndex{
    background-image: url("../imgs/WSE.png");
    background-size: 90% 100%;
    background-position-x: 250%;
}
.left-section {

    background-image: url("../imgs/VC3.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.left-section h2 {
    margin: 0;
    margin-bottom: 20px;
}
.left-section input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
}
.left-section button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #d9d9d9;
    color: #002060;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.left-section button i {
    margin-right: 5px;
}
.left-section .date-time {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.right-section {
  
    width: 70%;
    background-position-x: 40%;
    position: relative;
}
.right-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-section .overlay h1 {
    margin: 0;
    font-size: 2em;
}
.right-section .overlay h2 {
    margin-left: 50%;
    font-size: 1.2em;
    color: #000000;
}
.right-section .overlay .station-name {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1em;
    color: #002060;
}

footer{

    background-image: url("../imgs/Q11.png");
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-end;
}
footer p{

    padding: 20px 50px;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header{
    background-image: url("../imgs/FESS.png");
    background-size: 100% 100%;
    
    position: relative;
    width: 100%;
    height: 100px;
    top: 0;
    color: white;
    font-size: xx-large;
    /* background-color: #002060; */

  
}
.header p{
    margin: 0px;
    padding-top: 2%;
    padding-left: 1%;
    font-size: 1.5rem;
}